.venv/

notebooks/packages/*
!notebooks/packages/retrieve-packages.sh

notebooks/files/incoming/*
notebooks/files/outgoing/*
!notebooks/files/incoming/.gitkeep
!notebooks/files/outgoing/.gitkeep
.Trash-1000
